.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  padding: var(--spacing-2xl);
  background: var(--color-white);
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--radius-xl);
  width: fit-content;
  font-family: var(--font-inter);
}

/* Container with footer - removes bottom border radius and border */
.container-with-footer {
  border-bottom: none;
  border-radius: var(--radius-xl) var(--radius-xl) var(--radius-none) var(--radius-none);
}