/* Base Container Footer Styles */
.container-footer {
  background: var(--color-white);
  border: 1px solid var(--color-neutral-200);
  border-top: 1px solid var(--color-neutral-200);
  border-radius: var(--radius-none) var(--radius-none) var(--radius-xl)
    var(--radius-xl);
  box-sizing: border-box;
  width: 100%;
}

.container-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-2xl);
}

/* Minimal size - smaller top/bottom padding */
.container-footer-minimal .container-footer-content {
  padding: var(--spacing-sm) var(--spacing-2xl);
}